cache/
out/
.gas-snapshot
.vscode/
.env
.encryptedKey
broadcast/

node_modules
package-lock.json

.DS_Store
src/.DS_Store

constacts

# Foundry
cache/
out/

# JS
node_modules/
*.lockb
package-lock.json/
.env

#Hardhat files
cache_hardhat/
artifacts/

#Hardhat plugin files
typechain-types/
